@font-face {
    font-family: Red-hat-display;
    src: url("./assets/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf");
}
:root{
    --Pale-blue-primary: hsl(225, 100%, 94%);
    --Bright-blue-primary: hsl(245, 75%, 52%);
    --Very-pale-blue-neutral: hsl(225, 100%, 98%);
    --Desaturated-blue-neutral: hsl(224, 23%, 55%);
    --Dark-blue-neutral: hsl(223, 47%, 23%);
    --purple-active: #756bf1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Red-hat-display", sans-serif;

    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue-primary);
    display: grid;
    place-content: center;
    height: 100vh;
}
p{
    font-size: 16px;
}
.component__container{
    width: 450px;
    height: 697px;
    background-color: var(--Very-pale-blue-neutral);
    border-radius: 1rem;
}
.component__img{
    border-radius: 1rem 1rem 0 0;
}
.component__img img{
    width: 100%;
    border-radius: inherit;
}
.component__content{
    text-align: center;
    padding: 2rem;
    display: grid;

}
.component__title{
    color: var(--Dark-blue-neutral);
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

}
.component__description{
    padding-inline: 1rem;
    line-height: 1.5;
    color: var(--Desaturated-blue-neutral);
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.component__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(225, 100%, 94%, 0.2);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.component__plan{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.component__plan-title{
    line-height: 1.5;
    font-weight: 900;
}
.component__plan-price{
    line-height: 1.5;
    color: var(--Desaturated-blue-neutral);
    font-weight: 500;
    
}
.component__card-link{
    font-weight: 700;
    color: var(--Bright-blue-primary);
    cursor: pointer;
}
.component__card-link:active{
    color: var(--purple-active);
    text-decoration: none;
}
.component__buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.component__buttons > button{
    border: none;
    padding: 1.1rem 0;
    border-radius: 10px;
    font-weight: 900;
}
.component__button-ok{
    background-color: var(--Bright-blue-primary);
    color: var(--Pale-blue-primary);
    cursor: pointer;
}
.component__button-ok:active{
    background-color: var(--purple-active);
}
.component__button-cancel{
    background-color: var(--Very-pale-blue-neutral);
    color: var(--Desaturated-blue-neutral);
    cursor: pointer;
}
.component__button-cancel:active{
    color: var(--Dark-blue-neutral);
}

@media screen and (max-width: 500px){
    body{
        background-image: url('./images/pattern-background-mobile.svg');
    }
    .main{
        padding: 1rem;
    }
    .component__container{
        width: 100%;
        height: auto;
    }
}